*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: black;
}

.ribbon {
    font-size: 22px;
    width: 500px;
    background-color: var(--bs-success);
    color: var(--bs-success);
    text-align: center;
    padding: 1em 2em;
    margin: 2em auto;
    position: relative;
}

.ribbon:before {
    content: "";
    position: absolute;
    border: 1.5em solid var(--bs-success);
    left: -2em;
    border-left-color: transparent;
}

.ribbon:after {
    content: "";
    position: absolute;
    border: 1.5em solid var(--bs-success);
    right: -2em;
    border-right-color: transparent;
}

@media (max-width: 430px) {
    .ribbon {
        padding: 17px 5px;
        width: 325px;
        margin: 15 auto; 
        text-align: center; 
      }
}